@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration:  none;
}

.main {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
}

.header {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  /* border: 2px solid red; */
}
.glogo {
  height: 1.5rem;
}
.header-title {
  color: #202124;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0.5rem;
}

.secondary-header {
  color: #202124;
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
}
.email-container {
  display: flex;
  border: 1px solid #b8b8b8;
  border-radius: 15px;
  width: 75%;
  height: 2rem;
  padding: 0 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  justify-content: space-around;
  align-items: center;
  background: rgba(238, 238, 238, 0.3);
  letter-spacing: 0.2px;
  font-weight: 600;
}
.u_badge {
  color: #303030;
  border: 1px solid #919192;
  padding: 2px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 3px;
}

.inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  height: auto;
  width: 100%;
  /* border: 2px solid red; */
}
.pass {
  height: 3.3rem;
  width: 80%;
  padding-left: 1.1rem;
  padding-right: 4rem;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}
.check {
  margin: 1rem;
  color: #303030;
  align-self: flex-start;
  margin-left: 3rem;
}
.check > span {
  margin-left: 15px;
}
.assist{
    display: block;
    margin-top: 2rem;
    width: 80%;
}
.assist > .forgot {
    color: rgb(8, 79, 231);
    float: left;
}
.assist > .submit {
    background:rgb(8, 82, 243);
    border: none;
    color: white;

    padding: 9px 17px;
    float: right;
    font-weight: bold;
    border-radius: 5px;
}
@media only screen and (min-width: 391px) {
  .main {
    display: flex;
  }
}
